html {
	height: 100%;
}

#heading {
	font-size: 1.6vw;
}

#solveText {
	margin-left: 1vw;
}

#vertical {
	margin-top: 8vh;
}

#horizontal {
	margin-top: 24vh;
}

.options {
	height: 10vh;
	font-size: 4vw;
	font-weight: bold;
	background-color: white;
	border-radius: 0.5vw;
	line-height: 1.2;
}

.operand {
	font-size: 4vw;
	font-weight: bold;
}

#vroperator {
	height: 5vh;
}

.border-box {
	border: 2px solid rgb(102 98 85);
}