html{
	height:100%;
}

.background{
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	border: 1px solid black;
	height: 15vh;
}

#heading{
	font-size: 1.5vw;
}
.leftClass{
	left:6vw;
}
#questionDiv{
	margin-top: 0vh;
	border: 0.2vw solid black;
	padding: 1%;
	height: 45vh !important;
}
#optionDiv{
	margin-top:2vh;
}

.marginLeft{
	margin-left: 2%;
}
#dropArea{
	border: 0.2vw solid black;
	height: 45vh;
}
#box{
	border: 0.2vw solid black;
}
.imgDiv{
	height: inherit;
}
.hidden{
	display: none !important;
}
.block{
	display: block !important;
}
.boldClass{
	font-weight: bold;
}
