.buttonClass {
    color: rgb(0, 0, 0);
    font-size: 3.3vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10vh;
    border: 2px solid rgb(102 98 85);
    border-radius: 2vh;
    margin-top: 1vh;
    background-color: #a4a4a4;
    box-shadow: 2px 3px 4px black;
  }
#keyPad{
   left:4vw;
   top: 7vh;
}