/*-- HTML CSS Starts --*/
/* -- Fonts : Starts --*/
/* @font-face {
    font-family:'Verdana';
    src: url('fonts/Verdana.eot');
	src: url('fonts/Verdana.eot?#iefix') format('embedded-opentype'),		
	url('fonts/Verdana.woff') format('woff'),	
    url('fonts/Verdana.woff2') format('woff2'),
	url('fonts/Verdana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

/*Fonts : Ends*/
/*! normalize - making reset / default for all browsers */
*,html
{font-family:'Verdana'; -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%; outline: none;
-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none;
-webkit-backface-visibility:hidden;-o-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;}
body{background-color:#ffffff; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-touch-callout: none;margin: 0px;padding: 0px; touch-action: manipulation !important;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}a{background:transparent;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
dfn{font-style:italic;}
h1{font-size:2em;margin:.67em 0;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-.5em;}
sub{bottom:-.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input{line-height:normal;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:5px 0;}
b,strong,optgroup{font-weight:700;}
pre,textarea{overflow:auto;}
button::-moz-focus-inner,input::-moz-focus-inner,legend{border:0;padding:0;} 
::selection { background: transparent; }
::-moz-selection { background: transparent; }

div{box-sizing: border-box;}

html{overflow: hidden !important; touch-action: manipulation !important;}

div{ touch-action: manipulation !important;}

body{font-family:'Verdana'; -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); background-color: #ffffff;}

body input {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    user-select: text;   
}

body textarea {
    -webkit-touch-callout: text; -moz-touch-callout: text; -ms-touch-callout: text; -o-touch-callout: text;
    -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; -o-user-select: text;
    user-select: text; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; -o-user-select: text;
    
}
/*-- HTML CSS Ends --*/

/*-- Loader CSS Starts --*/
#html5Loader{
	top:0;left:0;margin:0;position:fixed;z-index: 3;background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDA3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 49%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(49%,#ffffff));
	background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 49%);
	background: -o-linear-gradient(left,  #ffffff 0%,#ffffff 49%);
	background: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 49%);
	background: linear-gradient(to right,  #ffffff 0%,#ffffff 49%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
#html5Loader .fallback {top:50%;position:absolute;text-align:center;width:100%;color:white;/*vertical-align: middle;*/ /*display: block;font-style: normal;font-size:100px;*/}

div#DvLoaderCont{width:300px; height: 50px; position: absolute; top:-100px; left:0px; bottom: 0px; right: 0px; margin: auto; z-index:100; background: #ffffff; overflow: hidden;}
div#DvLoaderProgress{width:300px; height: 50px; position: absolute; top:0px; left:-300px; background:#e30413;}
div#DvLoaderProgressBgText{
    width:300px; height: 0px; position: absolute; top:0px; left:0px; background:#e30413; 
    text-align: center; font-size: 32px; color:#ffffff; line-height: 50px; letter-spacing: 5px; font-weight: bold;
}

/*-- Loader CSS Ends --*/


/*--Player CSS Starts --*/
div#DvMainCont{width:1280px; height:720px;	position: absolute;/* background: #ffffff; background: rgba(0,0,0,0.5);*/ }
div#DvMainCont.ClsAbs{position: absolute !important;}

div#DvScrCont{width:1280px; height:720px; position: absolute; top:0px; left:0px;}

/*-- Global css : Starts --*/
.ClsDisableCont{pointer-events: none;}
.ClsEnableCont{pointer-events: auto;}

div#resetDiv{cursor: pointer;}
div#nextDiv{cursor: pointer;}
div#questioMark{cursor: pointer;}

/*-- Screen 0 : Starts --*/
div#DvScr0{width:1280px; height:720px;	position: absolute; top:0px; left:0px;}

/*-- Body : Starts --*/
div#DvBody{width:1152px; height:500px; position: absolute; top:120px; left:64px; /*background: #cccccc;*/}

div#DvFrameCont{width:1152px; height:468px; position: absolute; top:16px; left:0;}
div#DvFrameEg{
    width:716px;
    height: 468px;
    top:0px;
    left:-97px;
    position: absolute;
    /* background: url("../assets/images/frameBg0.png");  */
    background-color: #fff;
    background-size: contain;
}
div#DvFrame0{
    width:716px;
    height: 468px;
    top:-30px;
    left:0px;
    position: absolute;
    /* background: url("../assets/images/frameBg0.png");  */
    background-color: #fff;
    background-size: contain;
    display: none;
}
div#DvFrame1{
    width:400px; 
    height: 460px;
    top: 0px; 
    left:746px; 
    position: absolute; 
    background-size: contain;
    display: none;
    /* background-color: #e9b585; */
   /*  background-color: #fff; */
    /* background: url("../assets/images/frameBg1.png"); */
}
div#DvFrame2{
    width:403px;
    height: 68px; 
    top: 400px; 
    left:746px;
    position: absolute;
    background: url("../assets/images/frameBg2.png"); 
    /* background-color: #e9b585; */
    background-size: contain;
    display:none;
}
div#DvFrame3{
    width:600px; 
    height: 260px;
    top: 272px; 
    left:225px; 
    position: absolute; 
    background-size: contain;
    display: none;
}
div#DvExampleImg00{
    width:334px; 
    height: 180px; 
    top:85px;
    left:136px;
    position: absolute;
    background: url("../assets/images/M8Eg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#DvQuesImg00{
    width:215px;
    height: 100px; 
    top:35px;
    left:119px;
    position: absolute;
    background: url("../assets/images/M8Eg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#DvQuesImg01{
    width:315px;
    height: 100px;
    top:260px; 
    left:119px;
    position: absolute;
    background: url("../assets/images/M8Eg.png"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

div#DvQuesImg10{
    width:236px; 
    height: 199px;
  /*   top:-30px; */
    left:122px;
    position: absolute;
    background: url("../assets/images/M8B_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#DvQuesImg11{
    width:394px;
    height: 248px;
   /*  top:-18px; */
    left:650px;
    position: absolute;
    background: url("../assets/images/M8B_1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#DvExampleBlock00{width:400px; height: 39px; top:217px; left:140px; position: absolute;}
div#DvAnsBlock00{width:200px; height: 39px; top:120px; left:130px; position: absolute; /*background: rgba(0,0,0,0.5);*/}
div#DvAnsBlock01{width:300px; height: 39px; top:345px; left:130px; position: absolute; /*background: rgba(0,0,0,0.5);*/}

div#DvAnsBlock10{width:281px; height: 70px; top:130px; left:127px; position: absolute; /*background: rgba(0,0,0,0.5);*/}
div#DvAnsBlock11{width:375px; height: 70px; top:150px; left:660px; position: absolute; /*background: rgba(0,0,0,0.5);*/}

div#DvDropLine0{width:690px; height: 4px; top:232px; left:10px; position: absolute; background: #4445b8;}
div#DvDropLine1{width:690px; height: 4px; top:202px; left:10px; position: absolute; background: #4445b8;}

div#DvDrop0_0{width:690px; height: 200px; top:20px; left:10px; position: absolute; /*background: rgba(0,0,0,0.5);*/}
div#DvDrop0_1{width:690px; height: 170px; top:280px; left:10px; position: absolute; /*background: rgba(0,0,0,0.5);*/}

div#DvDrop1_0{width:471px; height: 170px; top:49px; left:122px; position: absolute; /*background: rgba(0,0,0,0.5);*/}
div#DvDrop1_1{width:588px; height: 210px; top:-18px; left:622px; position: absolute; /*background: rgba(0,0,0,0.5);*/}

div#DvContDrag0{
    width:385px;
    height: 460px; 
    top:5px; 
    left:5px; 
    position: absolute; 
    /* background: rgb(233 181 133); */
    /*background: rgba(0,0,0,0.5);*/
}
div#DvDrop0{width:700px; height: 130px; top:214px; left:156px; position: absolute;}
div#DvContExampleDrag0{
    width:400px;
    height: 460px; 
    top:-38px; 
    left:800px; 
    position: absolute; 
}
div#DvContDrag1{width:600px; height: 260px; /* top:300px; *//*  left:-530px;  */position: absolute; display: none;/*background: rgba(0,0,0,0.5);*/}

.ClsDragStyle0{
    width:100px;
    height: 39px;
    position: absolute;
    background: url("../assets/images/M7a_2.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ClsDragStyle{
    width:100px;
    height: 50px;
    position: absolute;
    background: url("../assets/images/M7a_2.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
div#DvDrag0_0{top:140px; left: 20px;}
div#DvDrag0_1{top:140px; left: 135px;}
div#DvDrag0_2{top:140px; left: 250px;}

div#DvDrag0_3{top:209px; left: 20px;}
div#DvDrag0_4{top:209px; left: 135px;}
div#DvDrag0_5{top:209px; left: 250px;}

div#DvDrag0{top:140px; left: 20px;}
div#DvDrag1{top:140px; left: 135px}
div#DvDrag2{top:140px; left: 250px;}

div#DvDrag3{top:209px; left: 20px;}
div#DvDrag4{top:209px; left: 135px;}
div#DvDrag5{top:209px; left: 250px;}

.ClsDragStyle1{
	width:75px; height: 75px; 
    position: absolute; 
    background: url("../assets/images/M8B_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #ffffff;
     cursor: pointer;
	border-radius: 5px; 
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -o-border-radius: 5px;
}

div#DvDrag1_0{top:0px; left: 71px;}
div#DvDrag1_1{top:0px; left: 164px;}
div#DvDrag1_2{top:0px; left: 253px;}

div#DvDrag1_3{top:77px; left: 71px;}
div#DvDrag1_4{top:77px; left: 164px;}
div#DvDrag1_5{top:77px; left: 255px;}

div#DvDrag1_6{top:0px; left: 336px;}
div#DvDrag1_7{top:0px; left: 416px;}
div#DvDrag1_8{top:0px; left: 494px;}

div#DvDrag1_9{top:77px; left: 336px;}
div#DvDrag1_10{top:77px; left: 416px;}
div#DvDrag1_11{top:77px; left: 494px;}

.ClsBlockStyle0{
    width:100px;
    height: 39px;
    position: absolute;
    top:0px; 
    background: url("../assets/images/M7a_2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.ClsBlockStyle{
    width:108px;
    height:50px;
    position: absolute;
    top:0px; 
    background: url("../assets/images/M7a_2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#DvExampleBlock00_0{left:0px;}
div#DvExampleBlock00_1{left:109px;}
div#DvExampleBlock00_2{left:218px;}
div#DvExampleBlock00_3{left:326px;}
div#DvExampleBlock00_4{left:434px;}
div#DvExampleBlock00_5{left:542px;}

div#DvAnsBlock00_0{left:0px;}
div#DvAnsBlock00_1{left:100px;}
div#DvAnsBlock00_2{left:200px;}
div#DvAnsBlock00_3{left:300px;}

div#DvAnsBlock01_0{left:0px;}
div#DvAnsBlock01_1{left:100px;}
div#DvAnsBlock01_2{left:200px;}
div#DvAnsBlock01_3{left:300px;}
div#DvAnsBlock01_4{left:400px;}
div#DvAnsBlock01_5{left:500px;}


.ClsBlockStyle1{
	width:75px; 
    height: 75px;
     position: absolute; 
     left:0px; 
     background: url("../assets/images/M8B_3.png");
    background-repeat: no-repeat;
    background-size: cover;
      border: 2px solid #ffffff; 
      cursor: pointer;
	border-radius: 5px;
     -moz-border-radius: 5px; 
     -ms-border-radius: 5px; 
     -webkit-border-radius: 5px;
      -o-border-radius: 5px;
}

div#DvAnsBlock10_0{left:0px;}
div#DvAnsBlock10_1{left:75px;}
div#DvAnsBlock10_2{left:150px;}
div#DvAnsBlock10_3{left:225px;}
div#DvAnsBlock10_4{left:300px;}
div#DvAnsBlock10_5{left:375px;}


div#DvAnsBlock11_0{left:0px;}
div#DvAnsBlock11_1{left:75px;}
div#DvAnsBlock11_2{left:150px;}
div#DvAnsBlock11_3{left:225px;}
div#DvAnsBlock11_4{left: 300px;;}
div#DvAnsBlock11_5{left:375px;}
div#DvAnsBlock11_6{left:450px;}


#DvInpAns {
	width: 115px;
    height: 55px;
    position: absolute;
    top: 4px;
    left: 276px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);        
    color: #000000 !important;
	font-weight: bold;
    font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

div#DVCheckAnswer{
	width: 100px; height: 50px; position: absolute; top: 6px; right: 20px; background-color: rgb(164, 164, 164);
    border-radius: 15px; -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px;
	color: #000000; font-weight: bold; font-size: 26px; text-align: center; line-height: 42px; border: 2px solid rgb(102, 98, 85); cursor: pointer;
}
div#DvText2_0{width:110px; height:68px; top:0px; left:140px; position: absolute; line-height: 62px; color:#000000; font-size: 28px; font-weight: bold; text-align: left; /*background: rgba(0,0,0,0.5);*/}

.ansKeypadDiv{
    margin-bottom: 2vh;
}
#heading{
    font-size: 1.4vw    ;
}

.boldClass{
    font-weight: bold;
}





























/*-- Body : Ends --*/
/*-- Screen 0 : Ends --*/