

#gamePage{
	position: absolute;
  top: 11.5vh;
}
.divBorder{
  border-radius: 2vh;
  border: 1px solid black;
  /* box-shadow: 3px 3px 3px 3px; */
} 
#queImg{
  border-radius: 2vh;
}

#ansOptionDiv{
  z-index: 2;
  margin-top: 5vh;
  right: 2vw;
}
  
