#numberpadDiv{
	height: 52vh;
}
#ansDiv{
	margin-top: 20vh;
	height: 13vh;
	border: solid 2px black;
	color: black;
	font-size: 3vw;
    font-weight: bold;
}
/* #queImg{
	border: solid 2px black;
} */
.blink_me
{
	animation:blinker 1s linear infinite;
}
@keyframes blinker
{
	50%
	{
		opacity:0.5;
	}
}
.CodeClass,.codeText{
	font-size: 2.5vw;
	text-align: center;
	color: black;
	font-weight: bold;
	height:12vh;
}
#scoreDiv{
	position: fixed;
	top: 74vh;
	display: flex;
	align-items: baseline;
}
.selectBorder{
	border: 6px solid rgb(255,190,0);
	border-radius: 2vh;
    background-color:#a4a4a4;
    justify-content: center;
    align-items: center;
    display: flex;	
}
.box
{
	height: 42px;
    font-size: 2vw;
}