

#NumberBlock{
    height: 66vh;
    right:3vw;
}
#blockImgId{
    height: 100%;
    border-radius: 2vh;
    
}
#quesDiv{
    color: black;
    font-size: 3vw;
    font-weight: bold;
}
#heading{
    padding-top: 6px;
}
#ansTextId{
    text-align: center;
}
#weightDivId{
    top: 5vh;
}
.boldClass{
    font-weight: bold;
}