.numberStyle{
   border: 1px solid black;
  
   height:22vh;
 
}
.numberStylechild{
    color: black;
    font-size: 4vw;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    height:22vh;
   
}
.boldClass{
    font-weight: bold;
}
.Blink_me
{
animation:Blinker 1s linear infinite;
}
@keyframes Blinker
{
50%
{
background-color: rgb(80, 78, 78);
opacity: 0.5; }
}