#questionDiv{
	margin-top: 10vh;
    font-size: 2.8vw;
    color: black;
    font-weight: bold;
    justify-content: center;
	text-align:center;
    display: flex;
}

.subDivClass{
	border: 2px solid black;
}
.flexClass{
	display: inline-flex;
	justify-content: space-evenly;
}
#answerDiv{
    margin-top: 2vh;
}

.Blink_me
{
animation:Blinker 1s linear infinite;
}
@keyframes Blinker
{
50%
{
background-color: rgb(80, 78, 78);
opacity: 0.5; }
}