#queDiv{
	text-align: center;
	margin-top: 2.5vh;
	height: 15vh;
	color: black;
	font-weight: bold;
	font-size:3.5vw;
justify-content: center;
    align-items: center;
    display: flex;

}

.flexClass{
	margin-top: 10vh;
	display: inline-flex;
	justify-content: space-evenly;
}
.optionClass{
	font-size: 3vw;
    text-align: center;
    height: 18vh;
	font-weight: bold;
/* 	margin-top: 8vh; */
	color: black;
}

.blink_me {
	animation: blinker 1.5s linear infinite;
  }
  @keyframes blinker {
	50% {
	  background-color: grey;
	}
	/* 100% {
	  background-color: grey;
	} */
  }

.selectBorder{
    border: 6px solid rgb(255,190,0);
	
}
.borderClassImg{
	color: black;
	border-radius: 2vh;
	border: 6px solid rgb(255,190,0);
	background-color:#a4a4a4;
    justify-content: center;
    align-items: center;
    display: flex;
}
.optionImgBorder{
	border: 2px solid black;
	
}
#firstNum{
	border-bottom: 5px solid black;
}
#secondNum
{
	border-bottom: 5px solid white;
}