
 .options{
	margin-top: 5px;	
} 

.border{
	border: 2px solid rgb(102 98 85);
	box-shadow: 4px 4px 7px;
}
.selectClass{
	border: 6px solid rgb(255, 190, 0);
}
 
#heading{
	font-size: 1.6vw;
}
.centerClass{
	z-index:1;
}

.borderTop{
    border-top:2px solid rgb(102 98 85);
    
}
#AnswerDiv1{
margin-top:3vh;
}