
.background{
	background-position:center;
	/* background-attachment:fixed; */
	background-repeat:no-repeat;
	background-size:contain;
}
#gamePage{
	display: none;
}
#game1{
	margin-top: 0%;
}
#game2{
	margin-top: -1%;
}
#heading{
	font-size: 1.6vw;
}

.slot
{
	height:8vh; 
}


#objectsDiv{
	margin-top:-2%;
	height:68vh;
	padding:0px;
}
#nextDiv
{
	display:none;
	width: 8vw;
	z-index:5000;
}
#animationDiv
{
	margin-top:5%;
}	


.section{
	height: 70vh;
}	
#section1{
	margin-left: 10vw;
}
#section2{
	margin-left: 10vw;
}
.border{
	border: 0.3vw solid black;
}
.option-img{
	height: 38vh; 
}

.objectsOnSlots
{
	 position:absolute;
	 z-index:5000;
}
.selection
{
	border: 6px solid rgb(255, 190, 0);
}
