/* @font-face {
	font-family: 'Muli';
	src: url('../assets/fonts/Muli.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  } */
.codeClass{
    height: 10vh;
    font-size: 3.2vw;
}
  @font-face {
	font-family: 'Muli-Bold';
	src: url('../assets/fonts/Muli-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-BoldItalic';
	src: url('../assets/fonts/Muli-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-ExtraLight';
	src: url('../assets/fonts/Muli-ExtraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-Italic';
	src: url('../assets/fonts/Muli-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-Light';
	src: url('../assets/fonts/Muli-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-LightItalic';
	src: url('../assets/fonts/Muli-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-Semi-BoldItalic';
	src: url('../assets/fonts/Muli-Semi-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Muli-SemiBold';
	src: url('../assets/fonts/Muli-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

  * {
	padding: 0;
	margin: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
  }

  html,
  body {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* font-family: "Muli"; */
	background-color: #FFFFFF;
    height: 100%;
  }
  
  #DvMainCont {
	position: relative;
	width: 1280px;
	height: 720px;
	margin: auto;
	overflow: hidden;
  }
 
.playing-container {
	background-size: auto 1080px;
	position: absolute;
	width: 100%;
	height: 100%;
}
 .selectionClass{
     border: 6px solid rgb(255, 190, 0);
 } 


.question-container {
	position: absolute;
    color: black;
    font-size: 29px;
    font-weight: normal;
    width: 100%;
    margin-top: 31px;
    box-sizing: border-box;
    text-align: center;
}
.answer-container {
	float: left;
    width: 1280px;
    position: absolute;
    height: 577px;
    top: 89px;
}
.drop_numbers{
	position: absolute;
	width: 260px;
    height: 260px;
    top: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
	left: 21px;
}

.dropimg_1{
	width: 296px !important;
    height: 296px !important;
    top: 105px !important;
    left: 234px !important;
	background: url("../assets/images/type1/triangle_original.png") no-repeat;
}
#drop-1{
	width: 150px;
    height: 150px;
    top: 227px;
    left: 283px;
}

.resettxt{
	text-align: center;
    color: black;
    font-size: 26px;
    font-weight: normal;
    position: absolute;
    width: 100%;
    height: 100%;
}

#triangle_drop{
	position: absolute;
    width: 296px;
    height: 296px;
    top: 105px;
    left: 240px;
	background: url("../assets/images/type1/triangle_drop.png") no-repeat;
}
.drag_numbers{
	position: absolute;
    width: 220px;
    height: 220px;
    top: 447px;
    border-radius: 10px;
    float: left;
	left: 981px;
	cursor: pointer;
}
#drag-1{
	width: 200px;
    height: 200px;
    top: 316px;
    left: 731px;
	background: url("../assets/images/type1/G22A_2.png") no-repeat;
    background-size: cover;
}
#drag-2{
	transform: rotateZ(90deg);
    width: 200px;
    height: 200px;
    top: 93px;
    left:919px;
	/* background: url("../assets/images/type1/triangle_part.png") no-repeat; */
    background: url("../assets/images/type1/G22A_5.png") no-repeat;
    background-size: cover;
}
#drag-3{
	transform: rotateZ( 180deg);
    width: 200px;
    height: 200px;
    top: 120px;
    left: 740px;
	background: url("../assets/images/type1/G22A_4.png") no-repeat;
    background-size: cover;
}
#drag-4{
	transform: rotateZ( 
150deg
 );
    width: 200px;
    height: 200px;
    top: 283px;
    left:930px;
	background: url("../assets/images/type1/G22A_3.png") no-repeat;
    background-size: cover;
}

#boat_drop{
	position: absolute;
    width: 296px;
    height: 296px;
    top: 105px;
    left: 240px;
	background: url("../assets/images/type2/boat_drop.png") no-repeat;
}
.drag_numbers_t2{
	position: absolute;
    width: 220px;
    height: 220px;
    top: 447px;
    border-radius: 10px;
    float: left;
	left: 981px;
	cursor: pointer;
}
#drag_t2-1{
	width: 150px;
    height: 150px;
    top: 286px;
    left: 736px;
	background: url("../assets/images/type1/triangle_part.png") no-repeat;
}
#drag_t2-2{
	transform: rotateZ(90deg);
    width: 150px;
    height: 150px;
    top: 114px;
    left: 900px;
	background: url("../assets/images/type1/triangle_part.png") no-repeat;
}
#drag_t2-3{
	transform: rotateZ( 180deg);
    width: 150px;
    height: 150px;
    top: 120px;
    left: 736px;
	background: url("../assets/images/type1/triangle_part.png") no-repeat;
}
#drag_t2-4{
	transform: rotateZ( 
150deg
 );
    width: 150px;
    height: 150px;
    top: 270px;
    left: 871px;
	background: url("../assets/images/type1/triangle_part.png") no-repeat;
}

.drop_numbers_t2{
	position: absolute;
	width: 260px;
    height: 260px;
    top: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
	left: 21px;
}

.dropimg_t2_1{
	width: 296px !important;
    height: 296px !important;
    top: 105px !important;
    left: 234px !important;
	background: url("../assets/images/type2/boat_final.png") no-repeat;
}
#drop_t2-1{
	width: 150px;
    height: 150px;
    top: 251px;
    left: 232px;
}


 /* 3rd .drag_numbers */
 #human_drop{
	position: absolute;
    width: 400px;
    height: 448px;
    top: 0px;
    left: 240px;
	background: url("../assets/images/type3/human_drop.png") no-repeat;
}
.drag_numbers_t3{
	position: absolute;
	width: 114px;
    height: 63px;
    border-radius: 10px;
    float: left;
	cursor: pointer;
}
#drag_t3-1{
    top: 256px;
    left: 736px;
	background: url("../assets/images/type3/triangle_part.png") no-repeat;
}
#drag_t3-2{
	transform: rotateZ(90deg);
    top: 114px;
    left: 900px;
	background: url("../assets/images/type3/triangle_part.png") no-repeat;
}
#drag_t3-3{
	transform: rotateZ( 180deg);
    top: 120px;
    left: 736px;
	background: url("../assets/images/type3/triangle_part.png") no-repeat;
}
#drag_t3-4{
	transform: rotateZ( 
150deg
 );
 top: 270px;
 left: 911px;
	background: url("../assets/images/type3/triangle_part.png") no-repeat;
}

.drop_numbers_t3{
	position: absolute;
	width: 260px;
    height: 260px;
    top: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
	left: 21px;
}

.dropimg_t3_1{
	width: 400px !important;
    height: 448px !important;
    top: 0px !important;
    left: 240px !important;
	background: url("../assets/images/type3/human_original.png") no-repeat;
}
#drop_t3-1{
	width: 104px;
    height: 63px;
    top: 1px;
    left: 383px;	
}



/* 4th .drag_numbers */
#animal_drop{
	position: absolute;
    width: 527px;
    height: 470px;
    top: 0px;
    left: 170px;
	background: url("../assets/images/type4/drop_animal.png") no-repeat;
}
.drag_numbers_t4{
	position: absolute;
	width: 75px;
    height: 124px;
    border-radius: 10px;
    float: left;
	cursor: pointer;
}
#drag_t4-1{
    transform: rotateZ(8deg);
    width: 140px;
    height: 123px;
    top: 256px;
    left: 736px;
	background: url("../assets/images/type4/anstri.png") no-repeat;
}
#drag_t4-2{
	/* transform: rotateZ(90deg); */
    top: 114px;
    left: 900px;
	background: url("../assets/images/type4/G22C_3.png") no-repeat;
}
#drag_t4-3{
	/* transform: rotateZ( 180deg); */
    top: 120px;
    left: 736px;
	background: url("../assets/images/type4/G22C_4.png") no-repeat;
}
#drag_t4-4{
	/* transform: rotateZ( 
150deg
 ); */
 top: 270px;
 left: 911px;
	background: url("../assets/images/type4/G22C_2.png") no-repeat;
}

.drop_numbers_t4{
	position: absolute;
    top: 30px;
    border-radius: 10px;
    float: left;
    margin-left: 5px;
	left: 21px;
}

.dropimg_t4_1{
	width: 527px;
    height: 470px;
    top: 13px !important;
    left: 370px !important;
	background: url("../assets/images/type4/animal.png") no-repeat;
}
#drop_t4-1{
	width:527px;
    height:470px;
    top: 13px !important;
    left: 170px !important;
}


.stopdrag{
	pointer-events: none;
}


.pointer-evnt{
	pointer-events: none;
}
.pointer-auto{
	pointer-events: auto;
	cursor: pointer;
}
.disable-btn {
	pointer-events: none;
	opacity: 0.7;
}
.pointer-none {
	pointer-events: none;
}

.disableDD {
	pointer-events: none;
}
.btn-selected{
	background-position: -369px 0px;
}
#type_2{
	display: none;
    
}
#type_3{
	display: none;
}
#type_4{
	display: none;
}
#heading{
    padding-top: 6px;
}
.boldClass{
    font-weight: bold;
}