
.queTxt{
	color: rgb(0, 0, 0);
    font-size:2vw;
    font-weight: bold;
    height: 13vh;
    margin-top: 1vh;
    box-shadow: 2px 3px 4px black;
}
.imgContainer{
    justify-content: center;
    display: flex;
}

.imgDiv{
	margin:5px;
    
}
.imgDiv img{
    padding: 5px;
}
#imgDiv{
    position: absolute;
    top:2vh;
}
.border{
	border: 6px solid rgb(255, 190, 0);
}
#heading{
    font-size: 1.8vw;
}
#queNo{
    font-size: 2.2vw;
}