#questionDiv {
  margin-top: 5vh;
  font-size: 2.5vw;

  /* display: none; */
}

#questionImg {
  height: 45vh;
}

#optionDiv {
  margin-top: 10vh;
  color: black;
}

.options {
  height: 13vh;
  color: black;
  background-color: white;
  border: 2px solid black;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  line-height: 13vh;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#AnswerDiv {
  margin-top: 10vh;
  height: 15vh;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
  line-height: 15vh;

}

#submitDiv {
  margin-top: 5vh;
}

#numberpadDiv {
  display: none;
}

/* .buttonClass {
  color: rgb(0, 0, 0);
  font-size: 3.3vw;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 13vh;
  border: 2px solid rgb(209, 233, 104);
  border-radius: 2vh;
  margin-top: 1vh;
  background-color: rgba(248, 248, 255,0.7);
  box-shadow: 2px 3px 4px black;
} */
.glyphicon {
  top: 0px;
  line-height: inherit;
}

.glyphicon {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
}

.glyphiColor {
  color: black;
  font-size: 7vh;
}

#buttonId43 {
  display: none;
}

#questioMark {
  display: none;
}

#outerDiv {
  margin-top: 20vh;
  display: none;
}

/* #answerKeyText{
  visibility: hidden;
} */

#optionDiv1 {
  height: 15vh;
  margin-top: 2vh;
  margin-left: -2vw;
}

#goNext {
  display: none;
}