#quesId{
    font-size: 3vw;
    color: black;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 14vh;
}

#optionDivId{
    font-size: 1.8vw;
    color: black;
    /* border: 1px solid black; */
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 32vh;
}
.optionClass{
   
    margin-left: 3vw;
    height: 12vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
#heading{
    padding-top: 6px;
}